.conf-orders-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: Lato, sans-serif;
}
.conf-user-title {
  font-size: 36px;
  margin-left: 30px;
  margin-top: 200px;
  font-weight: bold;
}

.conf-order-wrapper {
  padding: 20px 0px;
  margin: 0 auto;
  margin-top: 200px;
  margin-right: 30px;
  border: 1px solid #6b6b67;
  border-radius: 10px;
  width: 90%;
}

.conf-link {
  color: black;
}
.conf-box {
  position: relative;
}
.conf-button {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 96px;
  height: 40px;
  background: #21b787;
  border-radius: 200px;
  border: none;
  font-size: 12pt;
  color: black;
  cursor: pointer;
}
.conf-button a {
  text-decoration: none;
  color: black;
}

.conf-order-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.conf-order-name {
  font-size: 24px;
  padding: 0 10px 0 0;
}

.conf-order-info p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
.conf-order-info h3 {
  font-size: 22px;
  font-weight: 300;
}

.conf-avatar-box {
  margin: 0 40px;
}
@media (max-width: 768px) {
  .conf-avatar-box {
    text-align: center;
  }
}

.conf-avatar-box img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
