.search-page {
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}
.search-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.search-form label {
  font-size: 18px;
}

.input-box {
  position: relative;
  width: 100%;
}
.input-box input {
  width: 100%;
  border: 1px solid #6b6b67;
  padding-left: 40px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 19px;
  height: 40px;
}
.input-box img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.input-box img:hover {
  cursor: pointer;
}

.result-box {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .result-box {
    flex-direction: column;
  }
}

.listings-box {
  padding-top: 20px;
  padding-right: 24px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 576px) {
  .listings-box {
    width: 100%;
    padding-right: 0;
  }
}
@media (max-width: 1200px) {
  .listings-box {
    width: 100%;
  }
}

.listing-card {
  display: flex;
  height: 130px;
  background-color: #fffffe;
  margin-bottom: 40px;
}

.listing-card img {
  height: 130px;
  width: auto;
  max-width: 164px;
  object-fit: cover;
}

.listings-function a {
  text-decoration: none;
  color: #000000;
}

#search-title {
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: 700;
}
@media (max-width: 576px) {
  #search-title {
    padding-top: 30px;
    margin-bottom: 10px;
  }
}
#vendor-info-box {
  padding: 5px 0 5px 20px;
}
#vendor-info-box h1 {
  font-size: 18px;
  font-weight: 900;
}

#vendor-info-box p {
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  padding: 5px 0px;
}
.mapbox-container {
  width: 50%;
}
@media (max-width: 1200px) {
  .mapbox-container {
    width: 100%;
  }
}

.mapbox-container > .fake-map {
  background-color: lightgray;
  height: 500px;
}

.fake-map h1 {
  text-align: center;
  padding-top: 30%;
}

/* // Phones (landscape view)
$screen-phone-min: 320px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1024px;

// Large tablets and desktops
$screen-xl-min: 1440px; */
