.favorites-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  font-family: Lato, sans-serif;
}
.vendor-title {
  font-size: 36px;
  margin-left: 30px;
  margin-top: 40px;
  font-weight: 700;
}

.fav-info {
  width: 800px;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 20px;
}

.favDelButton {
  background-color: red;
  color: blue;
}
@media (max-width: 576px) {
  .user-title {
    padding-top: 20px;
  }
}
/* form wrapper area */
.form-wrapper {
  display: flex;
  padding: 0 30px;
  margin-top: 70px;
}
@media (max-width: 768px) {
  .form-wrapper {
    flex-direction: column;
    margin-top: 0;
  }
}

p {
  margin-bottom: 0px;
}

.vendor-img {
  width: 50px;
  height: 50px;
}

.fav-image {
  height: 75px;
  width: 75px;
  object-fit: cover;
}
