.cart-page {
  display: flex;
  font-family: Lato;
  font-style: normal;
}
.cart-page .mk-logo {
  position: absolute;
  top: 20px;
  left: 20px;
}
.cart-page .left-cart-wrapper {
  position: relative;
  width: 70%;
  background: #fffffe;
  height: 100vh;
}
.cart-page .right-cart-wrapper {
  width: 30%;
  background: #21b787;
  height: 100vh;
  min-width: 300px;
}
.cart-page .back-arrow {
  position: absolute;
  font-size: 16px;
  top: 18px;
  right: 16px;
  line-height: 19px;
}
.cart-page .back-arrow a {
  text-decoration: none;
  color: black;
}
.cart-page .back-arrow img {
  padding-bottom: 2px;
  padding-right: 5px;
}
.cart-page .left-content {
  text-align: center;
}
.cart-page .empty-cart {
  margin-top: 120px;
}
.empty-cart h1 {
  font-size: 24px;
  font-weight: 400;
}
.empty-cart a {
  font-size: 18px;
  font-weight: 900;
  color: black;
  text-decoration: none;
}

.right-cart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.right-cart-wrapper h1 {
  font-size: 22px;
}
.right-cart-wrapper p {
  font-size: 14px;
}

.right-cart-wrapper .checkout-btn {
  margin-top: 70px;
}
/* left side content */
.left-inner-content {
  margin-top: 120px;
}
/* card component */
.product-card {
  width: 100%;
  padding-left: 15%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  margin-bottom: 20px;
}
.product-card .bottom-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product-card .bottom-content img {
  border-radius: 5px;
}
.product-card h1 {
  font-weight: 800;
  font-size: 24px;
  text-align: left;
  padding-bottom: 15px;
}
.product-card p {
  font-size: 18px;
}
.namePrice {
  width: 30%;
  text-align: left;
  padding-left: 20px;
}
.button-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f9fa;
  height: 50px;
  width: 100px;
}
.button-block button {
  width: 30px;
  border: none;
  background-color: #f8f9fa;
  font-size: 24px;
  cursor: pointer;
}
.itemTotal {
  width: 30%;
  text-align: center;
  font-weight: 800;
  margin-top: -22px;
}
